# npm-managed stuff
node_modules/
npm-debug.log

# Byte-compiled / optimized
__pycache__/
*.py[co]

# Distribution / packaging
env/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Sphinx documentation
docs/_build/
